<div class="col-md-9">
    <ul>
        <li *ngFor="let prof of professorList">
            <mat-card>
                <mat-card-title>{{prof.profName}}</mat-card-title>
                <mat-card-subtitle>{{prof.schoolName}}</mat-card-subtitle>
                <mat-card-content>Content</mat-card-content>
                <mat-card-actions layout="row" layout-align="end center">
                    <button mat-raised-button color="accent" (click)="createPost()">Create Post</button>
                    <button mat-raised-button color="primary">Update</button>
                    <button mat-raised-button color="warn" (click)="delete(prof.id!)">Delete</button>
                </mat-card-actions>
                <mat-card-footer>CreatedDate</mat-card-footer>
            </mat-card>
            <app-post></app-post>
        </li>
    </ul>
</div>