<h1 mat-dialog-title>Please enter the professor's information</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Professor Full Name</mat-label>
        <input matInput [(ngModel)]="data.profName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>School Name</mat-label>
        <input matInput [(ngModel)]="data.schoolName">
    </mat-form-field>
    <br>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>
        Ok
    </button>
</div>